body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template: 1fr 4fr 4fr/97%;
}

#opponents {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #ccc;
}

.opponent {
  flex: 1;
  padding: 0.5rem;
  border: 1px dashed #ccc;
  text-align: center;
}

#main-container {
  grid-area:2/1/2/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

#results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally centers content */
  justify-content: center; /* Vertically centers content */
  width: 60%; /* Adjust this value to your liking */
  max-width: 500px; /* Prevents it from becoming too wide on large screens */
  margin: 0 auto; /* Centers the box horizontally */
  padding: 1rem; /* Adjust padding if needed */
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);*/
  height: auto;
  visibility: hidden;
}

button,
input {
  width: 100px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

#forfeit {
  background: red;
  width: 280px;
  font-size: 1rem;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

#player {
  position: fixed;
  left: 0;
  right:0;
  bottom:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-top: 1rem;
  visibility: hidden;
}

button#reroll {
  padding: 8px 18px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button#reroll:hover {
  background-color: #45a049;
}

#results{
  font-size: large;
  font-weight: bold;
}
